<html>
   <meta charset="UTF-8">
   <head>
      <title>uploader</title>
      <link rel="stylesheet" href="css/style3.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   </head>
   <body>
   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="logo.png" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/login">login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/find">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">&hearts; beats</a>
    </li>
  </ul>
</nav>
<br><br>
      <center>
      <br><br><br><br>
      <h1><i> your files are safe with us </i></h1>
      <h3><i>Lightweight Directory Access Protocol</i></h3>
      </center>
   </body>
</html>