<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ldap</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <h1>LDAP</h1>
        <form method="POST" action="/details">
        <input type="text" placeholder="Name" name="user_name">
        <br>
        <input  type="text" placeholder="example@gmail.com" name="user_mail">
        <br>
        <input type="password" placeholder="Password" name="user_pass">
        <br>
        <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>