<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ldap</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>
<div id="wrap">
  <form action="/search" autocomplete="on" method="POST">
      <input id="search" name="search" type="text" placeholder="What're we looking for ?">
      <input id="search_submit" value="Rechercher" type="submit">
  </form>
</div>
</body>
</html>