*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#333;
    font-family: 'Epilogue', sans-serif;
}

#container {
    width: 700px;
    margin: auto;
    height: 500px;
    text-align: center;
    margin-top: 200px;
}

h1 {
    color: #e71c37;
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 25px;
}


input{
    background-color: #333;
    margin: 15px;
    color: #8a8683;
    font-size: 15px;
    padding: 10px;
    height: 50px;   
    border: none;  
    border-bottom: 3px solid #8a8683;
}

input:focus {
    outline: none;
    -webkit-box-shadow: inset 0px 10px 30px 5px rgba(42,42,42,1);
    -moz-box-shadow: inset 0px 10px 30px 5px rgba(42,42,42,1);
    box-shadow: inset 0px 10px 30px 5px rgba(42,42,42,1);
}

input[type=text],
input[type=password]
 {
    width: 200px;     
}

input[type=submit] {
    width: 200px;
    border: none;
    font-size: 18px;
    -webkit-box-shadow: inset 0px 10px 30px 5px rgba(42,42,42,1);
    -moz-box-shadow: inset 0px 10px 30px 5px rgba(42,42,42,1);
    box-shadow: inset 0px 10px 30px 5px rgba(42,42,42,1);
    letter-spacing: 1px;
}

input[type=submit]:hover {
    -webkit-box-shadow: inset 0px 10px 30px 5px #212121;
    -moz-box-shadow: inset 0px 10px 30px 5px #212121;
    box-shadow: inset 0px 10px 30px 5px #212121;
}
